// Stars Widget
#starRating {
  z-index: 1000;
  padding: 16px;
  border-radius: 3px;
  position: fixed;
  top: auto;
  bottom: 0;
  .starWrap {
    text-align: center;
    span {
      font-weight: 400;
      margin-right: 15px;
      font-size: 1.75em;
      vertical-align: middle;
    }
    .fa-star {
      margin-right: 5px;
      font-size: 1em;
      vertical-align: middle;
    }
  }
  p {
    text-align: right;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 0.70em;
  }
  a {
    text-decoration: underline;
    font-size: 0.85em;
  }
}

.stars > input { display: none; }
.stars > label {
  float: right;
  min-width: 60px;
  min-height: 30px;
  margin: 0px !important;
  padding: 0px !important;

  &:before {
    margin: 5px;
    font-family: FontAwesome;
    display: inline-block;

    //fixing existing theme css
    content: "\f006" !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    font-size: 45px !important;
    width: auto !important;
    height: auto !important;
  }
}

.stars > input:checked ~ label:before, /* show gold star when clicked */
.stars:not(:checked) > label:hover::before, /* hover current star */
.stars:not(:checked) > label:hover ~ label:before { content: "\f005" !important; }


// Page layout
.reviewWrap {
  margin-top: 12%;
}
.rating {
  text-align: center;
  border:none;
  h2 {
    text-align: center;
    margin:0;
    font-weight:600;
    padding-bottom: 20px;
  }
  .stars {
    display: inline-block;
  }
}

.owl-theme {
  position: relative;

  .owl-stage {
    text-align: center;
  }

  .owl-next, .owl-prev {
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .owl-prev {
    left: 0;
    &:before {
      content:"\f053";
    }
  }
  .owl-next {
    right: 0;
    &:before {
      content:"\f054";
    }
  }
  .owl-dots {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
  }
}

.lastSlide {
  background: white;
  width: auto;
  margin-right: auto;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  margin-left: auto;

  max-width: 510px;
  width: 100%;

  input, textarea {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  input:not(.submit), textarea {
    background: white !important;
  }

  textarea {
    height: 163px;
  }

  .submit {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  width:auto;
  border-radius: 5px;
  }
}

.reviewGuideWrap {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;

  .reviewGuide {
    text-align: center;

    span {
      &:first-of-type {
        margin-right: 20px;
      }

      &:first-of-type::before {
        content: "\f005";
        font-family: FontAwesome;
      }

      &:before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: FontAwesome;
        margin-right: 10px;
      }
    }
  }
}

// View Widget Page

#main {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.entry-content {
  margin-top: 50px;

  &:last-of-type {
    margin-bottom: 50px;
  }

  aside {
    padding: 10px;
    // border: 1px solid blue;
    // border-radius: 3px;
    h4 {
      font-size: 22px;

      small {
        padding-top: 5px;
      }
    }

    h5 {
      padding: 0px;
    }

    i {
      font-size: 30px;
      padding: 10px 0px;
    }
  }

  .review {
    p {
      position: relative;
    }
  }
}
